@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: var(--tg-theme-text-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  font-family: 'Arial', sans-serif; 
  background-color: var(--block-bg-color);
  color: var(--tg-theme-text-color);
  color-scheme: var(--tg-color-scheme);
  --bg-color: var(--tg-theme-secondary-bg-color, #ebedf0);
  --block-bg-color: var(--tg-theme-bg-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  color: var(--tg-theme-link-color);
  text-decoration: none; 
}


.fade-enter,
.fade-exit-done {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active,
.fade-exit {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

a:hover {
  text-decoration: underline;
}

/* Hint text styles */
.hint-text {
  color: var(--tg-theme-hint-color);
}

/* Button styles */
button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.secondary-bg {
  background-color: var(--tg-theme-secondary-bg-color);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
